<Environment>
    <Agent>
        <InitialPosition x="5" y="1" />
        <InitialDirection theta="w" />
        <DestinationPosition x="4" y="5" />
        <DestinationDirection theta="n" />
        <Path>
        </Path>
    </Agent>
    <Keys>
         <Key x_init="4" y_init="4" is_picked="1" is_present="0" color="red" /><Key x_init="5" y_init="4" is_picked="1" is_present="0" color="blue" /></Keys>
    <Doors>
        <Door x="1" y="4" door_open="0" color="yellow" door_locked="1" /><Door x="4" y="4" door_open="1" color="grey" door_locked="1" /></Doors>
    <Objects>
        <Object pick_x="2" pick_y="6" pickStatus="1" drop_x="6" drop_y="3" dropStatus="0" is_present="1" color="blue" /><Object pick_x="4" pick_y="5" pickStatus="1" drop_x="1" drop_y="5" dropStatus="0" is_present="0" color="blue" /><Object pick_x="2" pick_y="3" pickStatus="1" drop_x="2" drop_y="3" dropStatus="1" is_present="1" color="purple" /><Object pick_x="1" pick_y="6" pickStatus="1" drop_x="5" drop_y="2" dropStatus="0" is_present="1" color="blue" /></Objects>
    <LavaTiles>
         </LavaTiles>
    <Walls>
        <Wall x="2" y="4" /><Wall x="3" y="4" /><Wall x="4" y="4" /><Wall x="5" y="4" /><Wall x="4" y="1" /><Wall x="4" y="2" /><Wall x="4" y="3" /><Wall x="4" y="5" /></Walls>
    <Grid>
        <Size grid_Size="7" />
    </Grid>
</Environment>