<Setting>
    <EnviromentLogs path="Results Log/Lava Env/Random/HCP/7-Tiles/Env1/-Env_log1.txt" />
    <MutatorLogs path="Results Log/Lava Env/Random/HCP/7-Tiles/Env1/-mutator-1.txt" />
    <Enviroment name="Crossing" color="purple" />
    <InstructionLog path="Results Log/Lava Env/Random/HCP/7-Tiles/Env1/-Log-Lava-Env.json" />
    <timeout time="5" />
    <seed seed_number="11" />
</Setting>