<Setting>
    <EnviromentLogs path="Results Log\Lava Env\GuidedFuzz\Test\60\Log-Lava-Env-8.txt" />
    <MutatorLogs path="Results Log\Lava Env\GuidedFuzz\Test\60\Mutator-Log-Lava-Env-8.txt" />
    <Enviroment name="Crossing" color="purple" />
    <InstructionLog path="Results Log\Lava Env\GuidedFuzz\Test\60\Log-Lava-Env.json" />
</Setting>